#*
 * Copyright 2013–2017 Michael Osipov
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

## $Id$

                            ----------------------
                                   Download
                            ----------------------
                                Michael Osipov
                            ----------------------
                                  2013-08-03
                            ----------------------

#macro(property $property)${project.properties.get($property)}#end

Download ${project.name}

  There are several ways to download the JAR of this project.

* Obtaining Binaries

 The preferred way to obtain this artifact is through dependency management.
 It is available, along with its sources and Javadoc JARs, in the
 {{{http://search.maven.org/#search|ga|1|g%3A%22${project.groupId}%22%20AND%20a%3A%22${project.artifactId}%22%20AND%20v%3A%22${project.version}%22}Maven Central}} repository.
 See the {{{./dependency-info.html}dependency information}} report for further
 integration details for your build tool of choice.

 Alternatively, you can obtain a binary distribution with all JARs plus the
 entire site for offline browsing from the project's
 {{{http://sourceforge.net/projects/tomcatspnegoad/files/${project.version}}SourceForge.net Files}} directory.

* Building from Source

  If you rather prefer building from source you either have to check out a working
  copy from the project's public {{{./source-repository.html}Subversion}} repository,
  or download a source tarball from the
  {{{http://sourceforge.net/projects/tomcatspnegoad/files/${project.version}}SourceForge.net Files}} directory.

  After you have obtained the source code, navigate to the source code directory
  and type <<<mvn install>>>. Prior to that, make sure that you have at least Maven
  #property("maven.version") and Java #property("maven.compiler.target") installed.
  After successful execution the artifact will be installed to your local repository.
