#set( $targetUrl = "https://michael-o.github.io/tomcatspnegoad/apidocs/net/sf/michaelo/tomcat/realm/ActiveDirectoryRealm.html#referral-handling" )
<!DOCTYPE html>
<html>
<head>
<title>Redirecting to $targetUrl</title>
<meta http-equiv="refresh" content="0; URL=$targetUrl" />
<link rel="canonical" href="$targetUrl" />
</head>
<body>Redirecting to $targetUrl</body>
</html>
